html, body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

header {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    justify-content: center;
    line-height: 50px;
    background-color: rgb(38, 104, 36);
    color: rgb(255, 255, 255);
    
}

main {
    background-color: lightskyblue;
    justify-content: center;
}

.mainImage {
    display: flex;
    justify-content: center;
    padding: 5px;
    
}

.blurb {
    display: flex;
    position: static;
    /* top: 200px;
    left: 50px; */
    color: rgb(0, 0, 0);
    height: 100px;
    justify-content: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 20px;
}


.imageCan {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: auto;
}

.imageTrash {
    display: flex;
    align-items: center;
    max-width: 150px;
    height: auto;
}

/* div class for the button container */
.buttons {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 100px;
}

#button {
    width: 150px;
    height: 30px;
    /* background-image: url(./Media/button.png); */
    background-color: rgb(24, 87, 244);
    border: 2px solid rgb(134, 164, 247);
    border-radius: 30px;
    font-size: 14px;
    /* font-family: Tahoma, Geneva, sans-serif; */
    font-weight: bold;
    text-align: center; 
}

#button ul {
    height: auto;
    padding: 6px 0px;
    margin: 0px;
    list-style-type: none;
}

#button a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

#button li :hover {
    opacity: .8;
}

.subHead {
    justify-content: center;
    font-weight: bold;
    display: flex;
    position: static;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.paragraph {
    display: flex;
    position: static;
    padding-left: 100px;
    padding-right: 100px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 20px;
    line-height: 50px;
}

footer {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    justify-content: left;
    background-color: rgb(38, 104, 36);
    color: rgb(255, 255, 255);
    
}

.footerText {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 10px;
}
