@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap'
);

*{
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #9ecae0;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.lboard_section{
  width: 500px;
  margin: 100px auto 0;
  background: #f94f62;
  border-radius: 5px;
  padding: 40px 40px;
  position: relative;
}

.lboard_section ul{
    display: flex;
}

.lboard_section ul li{
  padding-right: 50 px;
  font-size: 18px;
  font-weight: 600;
  color: #3a3d51;
  cursor: pointer;
}

.lboard_section ul li:hover,
.lboard_section ul li.active{
    color: #fff;
}

.lboard_wrap{
  position: static;
  padding: 50px;
  background: #ffd300;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.lboard_wrap .lboard_item{
  padding: 55px;
}

.lboard_wrap .lboard_item .lboard_mem{
    display: flex;
    align-items:center;
    padding: 15px 0;
    border-bottom: 1px solid #ffe733;
}

.lboard_wrap .lboard_item .lboard_mem:first-child
{
  padding-top: 0;
}
.lboard_wrap .lboard_item .lboard_mem:last-child
{
  border-bottom: 0;
  padding-bottom: 0;
}
.lboard_wrap .lboard_mem .img{
  width: 50 px;
  padding-bottom: 20px;
}

/* .lboard_item_today {
  padding: 20px;
} */
.lboard_wrap .lboard_mem .img img{
    display: block;
    width: 100%;
}

.lboard_wrap .lboard_item .name_bar{
    margin: 0px;
    width: 50%;
}

.lboard_wrap .lboard_item .name_bar p{
    color: #3a3d51;
}

.lboard_wrap .lboard_item .name_bar p span{
margin-right: 5px;

}

.lboard_wrap .lboard_item .points{
  width: 25%;
  color: #3a3d51;
}

.lboard_wrap .lboard_item .bar_wrap{
  height: 5x;
  width: 100%;
  background: #d5b000;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.lboard_wrap .lboard_item .bar_wrap .inner_bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background:#fff;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
